@media (max-width: @screen-xs-max) {
     ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
    #about-page #about-content article .potrait {
        transform: none;
        -webkit-transform: none;
    }
    
    #about-page #about-content article .content {
        margin: 0 auto;
        transform: none;
        -webkit-transform: none;
    }
    #about-page #about-content article .quote {
        margin: 0;
        margin-top: 0;
    }
    footer {
        margin-top: 50px%;
    }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
     ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    } 
    .intro {
        height: 85%;
        padding: 0;
    }
    
    .intro .intro-body .intro-text {
        font-size: 20px;
    }
     .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }
     ul.banner-social-buttons {
        margin-top: 15px;
    }
    #about-page #about-content article .potrait {
		
	}
     #about-page #about-content article .content {
        margin-left: 50px;
        transform: translate(115px, 70px);
    }
    #about-page #about-content article .quote {
        margin-top: 20px;
        margin-left: 40px;
    }
}
@media (min-width: @screen-lg-min) { 
     footer {
        padding-top: 100px;
    }
}