<section id="about">
    <article class="row">
        <div class="col-sm-0 col-md-1 col-lg-2">
        </div>
        <div class="col-sm-12 col-md-3 col-lg-2 about-part">
            <img src="img/potrait.png" alt="" class="potrait">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5 about-part">
            <div class="content">
                <div class="nested">
                    <div class="description">
                        <h2>Hello!<i class="fa fa-heart"></i></h2>
                        <p>I'm Prakriti Tiwari, an enthuastic, cheerful developer working as an IT consultant in Oslo. I am currently working
                        in an consultant company Aveiro AS as software developer. My interest is in frontend development. I graduated from NTNU
                        in 2014, as a Master student in Computer science.</p>
                    </div>
                </div>
            </div>
            <blockquote class="quote">
                <p>“Success is not final, failure is not fatal: it is the courage to continue that counts.”
                    <strong> - Winston Churchill</strong>
                </p>
            </blockquote>
        </div>
        <div class="col-sm-0 col-md-2 col-lg-3">
        </div>
    </article>
</section>
