<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="intro" data-target=".navbar-fixed-top">
        <% include ../partials/header %>
            <% include ../pages/contact %>
        <footer>
            <% include ../partials/footer %>
        </footer>
        <% include ../partials/javascriptLibs %>
    </div>
</body>