<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body id="page-top">
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Prakriti Tiwari</h1>
                        <p class="intro-text">An enthuastic and creative web developer.</p>
                        <a href="/about" class="intro-text"><i class="fa fa-play-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <% include ../partials/javascriptLibs %>
</body>
</html>
