<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Projects</h1>
                <p class="project-main-description">Knowledge of software development and programming, and a wide-range of other computer fields, I am a well-rounded individual able to work in a number of technology-related roles. 
                I have a good knowledge on Frontend programming such as HTML5, CSS3, JavaScript and AngularJS.  
                I have also experience in building hybrid mobile application using Cordova and Ionic framework. 
                I am eager to learn and a great team player, and possesses excellent communication skills which were honed whilst working on many group projects.</p>
            </div>
        </div>
        <div class="row">
            <% include ../pages/projectItemTemplate %>
        </div>
    </div>
</section>
<!-- Modal Detail -->
<% include ../pages/modalTemplate %>