<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="intro" id="about-page" data-target=".navbar-fixed-top">
    <% include ../partials/header %>
        <% include ../pages/projectsContent %>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <% include ../partials/javascriptLibs %>
</body>